.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    &__filter-option {
        display: flex;
        flex-direction: row;
        gap: 40px;
        & label {
            display: flex;
            flex-direction: column;
        }
    }
}